/*@huntbao @mknote
All right reserved*/
::-webkit-scrollbar{
    height:6px;
    width:6px;
}
::-webkit-scrollbar-thumb{
    background-color:rgba(0,0,0,0.2);
}
::-webkit-scrollbar-thumb:hover{
    background-color:rgba(0,0,0,0.25);
}
::-webkit-scrollbar-thumb:active{
    background-color:rgba(0,0,0,0.3);
}
body{
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: "\5FAE\8F6F\96C5\9ED1"/*yahei*/,sans-serif/*for mac*/;
    background:url(images/option_bg.png);
    overflow:hidden;
}
.status-bar .username,
.logo,
.view-wrap .title,
.mkbm-tags,
.mkbm-category-show{
    background:url(images/sprite.png) no-repeat;
}
.top{
    background-color:#fcfcfc;
    -webkit-box-shadow:0 0 6px #999;
    padding:4px 5px 8px;
    position:relative;
    z-index: 102;
}
.logo{
    background-position:-1px -1px;
    width:105px;
    height:32px;
    display:inline-block;
    text-indent:100%;
    white-space:nowrap;
    overflow:hidden;
}
.top .view-action{
    position:absolute;
    top:7px;
    right:5px;
    height:30px;
    line-height:30px;
    display: none;
}
.clip-list{
    position: absolute;
    display: none;
    right: 4px;
    width: 90px;
    border-radius: 3px;
    box-shadow: 2px 0px 1px #333;
}
.clip-list .active{
    background: -moz-linear-gradient(top, #eaeaea 0%, #fafafa 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eaeaea), color-stop(100%,#fafafa));
    background: -webkit-linear-gradient(top, #eaeaea 0%,#fafafa 100%);
    background: -o-linear-gradient(top, #eaeaea 0%,#fafafa 100%);
    background: linear-gradient(top, #eaeaea 0%,#fafafa 100%);
    border: 1px solid #999;
    color: #000;
}
.clip-list .more{
    background: #fff;
    border: solid 1px #ccc;
    width: 100%;
    padding: 0;
    margin: 0;
}
.clip-list .more li{
    padding: 0;
    margin: 0;
    list-style: none;
}
.clip-list .more a{
    display: block;
    text-align: center;
    text-decoration: none;
    color: #333;
    padding: 4px 0;
}
.clip-list .more a:hover{
    background-color: #DDD;
    color: #FFF;
}
.view-action .button{
    height: 24px;
    margin: 0 0 0 2px;
    width: 24px;
    text-indent: -9999px;
}
.view-action .url span{
    background: url(images/url.png) center center no-repeat;
}
.view-action .button1:link, .view-action .button1:visited{
    text-decoration: none;
    text-align: center;
    padding: 2px 6px 0;
    width: auto;
    text-indent: 0;
    color: white;
    border-color: #7FB526;
    text-shadow: 0 1px 0 #77A32E;
    line-height: 24px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9AD139), color-stop(100%,#8CBC33));
}
.view-action .cancelbtn:link, .view-action .cancelbtn:visited{
    text-decoration: none;
    color: #81b205;
    text-indent: 0;
    padding: 2px 6px 0;
    color: #333;
    line-height: 24px;
}
.view-action .cancelbtn:hover{
    text-decoration: none;
}
.view-action .savebtn, .view-action .editbtn{
    display: none;
}
.not-login{
    background: #fff url(images/welcome.png) 0 30px no-repeat;
    display: none;
    font-size: 14px;
    line-height: 1.8;
    padding: 220px 20px 20px 30px;
    position: fixed;
    left: 45px;
    top: 100px;
    width: 320px;
    z-index: 106;
    -webkit-box-shadow: 0 0 15px #000;
    border-radius: 3px;
    box-shadow: 0 0 15px #000;
}
.not-login .inner{
    width: 110px;
    margin: 20px auto 0;
}
.not-login .button{
    padding: 2px 8px;
}
.not-login .login{
    margin: 0 10px 0 0;
}
.not-login a:link, .not-login a:visited, .not-login a:hover{
    text-decoration: none;
}
.cover{
    background: rgba(0, 0, 0, 0.65);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 105;
}
.create-button{
    vertical-align:middle;
}
.create-button{
    display:inline-block;
    position: absolute;
    right: 2px;
    top: 7px;
}
.create-button .button{
    height: 24px;
    width: 34px;
    margin: 0 2px 0 0;
    text-indent: -9999px;
}
.create-button .clip{
    border-radius: 3px 0 0 3px;
}
.create-button .moreclip{
    position: relative;
    border-radius: 0 3px 3px 0;
    width: 13px;
    margin-left: -7px;
    vertical-align: middle;
    margin-top: 3px;
}
.create-button .moreclip .arrow{
    border: solid 4px rgba(0,0,0,0);
    border-top-color: #999;
    position: absolute;
    right: 3px;
    top: 11px;
    width: auto;
    height: auto;
}
.create-button .create span{
    background: url(images/newdoc.png) center center no-repeat;
}
.create-button .clip span{
    background: url(images/clip.png) center center no-repeat;
}
.popupwrap{
    height: 557px;
    
}
.list-wrap{
    display: none;
}
.note-list-wrapper{
    height:497px;
    padding:8px 5px;
    overflow-x:hidden;
    overflow-y:auto;
}
.loading-tip{
    text-align: center;
    margin-top:210px;
    background: url(images/ajax-loader.gif) center center no-repeat;
    padding-top:40px;
    overflow: hidden;
}
.note-list{
    margin: 0;
    padding: 0;
}
.note-item{
    background: -moz-linear-gradient(top, #fdfdfd 0%, #f0f0f0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#f0f0f0));
    background: -webkit-linear-gradient(top, #fdfdfd 0%,#f0f0f0 100%);
    background: -o-linear-gradient(top, #fdfdfd 0%,#f0f0f0 100%);
    background: linear-gradient(top, #fdfdfd 0%,#f0f0f0 100%);
    border:solid 1px #ccc;
    border-radius:3px;
    cursor:pointer;
    margin:5px 0 8px 0;
    padding:5px 10px;
    position: relative;
    -webkit-transition-property:-webkit-box-shadow,border-color;
    -webkit-transition-duration:.15s;
    -webkit-transition-timing-function:ease-in-out;
}
.note-item:hover{
    border-color:#999;
    -webkit-box-shadow:0 0 2px #999;
    -webkit-transition-property:-webkit-box-shadow,border-color;
    -webkit-transition-duration:.15s;
    -webkit-transition-timing-function:ease-in-out;
}
.note-item:first-child{
    margin:0 0 8px 0;
}
.note-item:last-child{
    margin:5px 0 0 0;
}
.note-item .title{
    font-size: 16px;
    font-family: "\5FAE\8F6F\96C5\9ED1"/*yahei*/,sans-serif/*for mac*/;
    word-break: break-all;
    margin: 0 0 5px;
    width: 310px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: normal;
}
.note-item .date{
    color: #99bc51;
    position: absolute;
    right: 8px;
    top: 8px;
    font-size: 11px;
    font-family: tahoma;
    -webkit-text-size-adjust: none;
}
.note-item .con{
    color: #919191;
    word-break: break-all;
    width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
}
.view-wrap{
    display:none;
    top:46px;
    left:500px;
    z-index:100;
    padding:12px;
    position: absolute;
    background:url(images/option_bg.png);
}
.view-wrap-con{
    position: relative;
}
.view-wrap .title{
    background-position:-81px -147px;
    padding: 7px 0 5px 35px;
    margin: 0 0 10px;
    background-color: #fff;
    border: 1px solid #cbcbcb;
    border-radius: 4px;
}
.view-wrap .title input{
    width: 388px;
    padding: 1px 0 0 0;
    border:0 none;
    outline:none;
}
.mkbm-extra{
    position: relative;
    z-index: 1000004;
}
.mkbm-category{
    height: 31px;
    margin: 0 0 10px;
    position: relative;
    z-index: 1000004;
}
.mkbm-category-show{
    background-position: 0 -309px;
    cursor: pointer;
    height: 31px;
    width: 130px;
    line-height: 31px;
    padding: 0 0 0 10px;
}
.mkbm-category-show span{
    display: block;
    width: 100px;
    height: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.mkbm-category-select{
    height: 160px;
    width: 140px;
    padding: 5px 0;
    position: absolute;
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 1000004;
    display:none;
    background-color: #fff;
    border: 1px solid #cbcbcb;
    border-radius: 4px;
    margin:0;
}
.mkbm-category-title{
    font-weight: bold;
    padding: 5px 0 5px 5px;
}
.mkbm-category-select li{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    color: #666;
    display: block;
    padding: 5px 0 5px 10px;
    cursor:default;
}
.mkbm-category-select li:hover{
    background-color: #f2f2f2;
}
.mkbm-category-select .mkbm-child-category{
    padding-left: 25px !important;
}
.mkbm-tags{
    background-position: -143px -121px;
    height: 29px;
    width: 270px;
    position: absolute;
    right: 0;
    top: 0;
    overflow: hidden;
    z-index: 1000004;
    background-color: #fff;
    border: 1px solid #cbcbcb;
    border-radius: 4px;
}
.mkbm-tags-expand{
    height: 100px;
    white-space: normal;
    overflow-y: auto;
    overflow-x: hidden;
}
.mkbm-tags-expand .mkbm-tagme-container li{
    display: inline-block;
}
.mkbm-tagme {
    height: 22px;
    width: 256px;
    position: relative;
    left: 28px;
    padding: 5px 0 4px 0;
    z-index: 1000004;
}
.mkbm-tagme .mkbm-tagme-container{
    width: 256px;
    overflow: hidden;
    cursor: text;
    padding:0;
    margin:0;
}
.tagme-container{
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 22px !important;
}
.tagme-container li.tagme-item{
    margin: 0 5px 5px 0 !important;
}
.notecontentwrap{
    position:relative;
    border: 1px solid #cbcbcb;
    border-radius: 4px;
    background-color:#fff;
    overflow: hidden;
}
.notecontentwrap .notecontent{
    resize:none;
    border:0 none;
    outline:none;
    height:384px;
    padding:7px;
    overflow:auto;
    width: 410px;
}
.notecontentwrap .notecontent img{
    max-width:100%;
    height: auto !important;
}
.notecontentwrap .notecontent p{
    margin: 5px 0;
}
.preview-wrap{
    display:none;
    top:46px;
    left:500px;
    z-index:100;
    padding:0 12px;
    position: absolute;
    background:url(images/option_bg.png);
    width: 426px;
}
.preview-wrap .title-wrap{
    background-color: #f6f6f6;
    position: relative;
    padding: 2px 4px 2px 12px;
    border-radius: 3px 3px 0 0;
}
.preview-wrap .title{
    font-family: "\5FAE\8F6F\96C5\9ED1"/*yahei*/,sans-serif/*for mac*/;
    font-size: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 70%;
    margin: 0;
    padding: 0;
    font-weight: normal;
}
.preview-wrap .previewfull-btn{
    background:url(images/fullview.png);
    position: absolute;
    right:8px;
    top:9px;
    width: 14px;
    height: 14px;
}
.preview-wrap .preview-wrap-con{
    background-color: #fff;
}
.preview-wrap .preview-notecontentwrap{
    position:relative;
    overflow: hidden;
}
.preview-wrap .preview-notecontent{
    border:0 none;
    outline:none;
    height:465px;
    padding:7px;
    overflow:auto;
}
.preview-wrap .preview-notecontent img{
    max-width: 100%;
    height: auto !important;
}
.search-more{
    text-align: right;
    margin-top: 8px;
}
.search-more a:visited, .search-more a:link{
    text-decoration: none;
    color:#81b205;
}
.search-more a:hover{
    text-decoration: underline;
}
.status-bar{
    background-color: #fcfcfc;
    -webkit-box-shadow: 0 0 6px #999;
    height: 25px;
    position: relative;
    z-index: 101;
}
.status-bar .username:link,
.status-bar .username:visited{
    background-position: 0px -199px;
    padding:2px 0 0 26px;
    display:inline-block;
    color:#999;
    text-decoration:none;
    max-width:120px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    position: absolute;
    top: 4px;
    cursor: default;
}
.status-bar .username:hover{
    text-decoration:none;
}
.status-bar .logined{
    background-position: 0 -106px !important;
    cursor: pointer !important;
}
.status-bar .action-tip{
    position: absolute;
    right: 5px;
    top: 5px;
    background: rgba(0, 0, 0, 0.6);
    color: #eee;
    padding: 0 4px;
    border-radius: 3px;
}
.button{
    background: -moz-linear-gradient(top, #fafafa 0%, #eaeaea 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#eaeaea));
    background: -webkit-linear-gradient(top, #fafafa 0%,#eaeaea 100%);
    background: -o-linear-gradient(top, #fafafa 0%,#eaeaea 100%);
    background: linear-gradient(top, #fafafa 0%,#eaeaea 100%);
    border: 1px solid #CCC;
    border-radius: 3px;
    cursor: pointer;
    color: #333;
    display: inline-block;
    text-align: center;
    -webkit-transition: all .15s ease-in-out;
    outline: none;
}
.button:hover{
    border:1px solid #999;
    color:#000;
}
.button:active{
    background: -moz-linear-gradient(top, #eaeaea 0%, #fafafa 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eaeaea), color-stop(100%,#fafafa));
    background: -webkit-linear-gradient(top, #eaeaea 0%,#fafafa 100%);
    background: -o-linear-gradient(top, #eaeaea 0%,#fafafa 100%);
    background: linear-gradient(top, #eaeaea 0%,#fafafa 100%);
    border: 1px solid #999;
    color: #000;
}
.button span{
    display: block;
    height: 100%;
    width: 100%;
}