/*@huntbao @mknote
All right reserved*/
::-webkit-scrollbar{
    height:10px;
    width:10px;
}
::-webkit-scrollbar-thumb{
    background-color:rgba(0,0,0,0.2);
}
::-webkit-scrollbar-thumb:hover{
    background-color:rgba(0,0,0,0.25);
}
::-webkit-scrollbar-thumb:active{
    background-color:rgba(0,0,0,0.3);
}
.not-login{
    background: #fff url(images/welcome.png) 0 30px no-repeat;
    display: none;
    font-size: 14px;
    line-height: 1.8;
    padding: 220px 20px 20px 30px;
    position: fixed;
    left: 45px;
    top: 100px;
    width: 320px;
    z-index: 106;
    -webkit-box-shadow: 0 0 15px #000;
    border-radius: 3px;
    box-shadow: 0 0 15px #000;
}
.not-login .inner{
    width: 110px;
    margin: 20px auto 0;
}
.not-login .button{
    padding: 2px 8px;
}
.not-login .login{
    margin: 0 10px 0 0;
}
.cover{
    background: rgba(0, 0, 0, 0.65);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 105;
}


